.hover {
  cursor: pointer;
  border-radius: 10rem;
  transition: background 0.2s;
}

.hover[data-bg='blue']:hover {
  background: rgba(var(--color-primary-hover));
}

.hover:hover {
  background: var(--color-gray-light-1);
}

.header {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 4rem;
  border-right: 1px solid var(--color-gray-light-1);
  height: 100vh;
  position: sticky;
  top: 0;
}

@media only screen and (max-width: 81.25em) {
  .header {
    width: 10rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .header {
    width: 7rem;
  }
}

.container {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin: 0.2rem 3rem;
  width: 85%;
  height: 100%;
}

@media only screen and (max-width: 81.25em) {
  .container {
    width: fit-content;
    align-items: center;
  }
}

@media only screen and (max-width: 37.5em) {
  .container {
    width: 7rem;
    margin: 0;
  }
}

.logo {
  width: fit-content;
  font-size: 3.2rem;
  color: var(--color-primary);
  padding: 1rem;
  margin-left: 0.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 81.25em) {
  .list {
    align-items: center;
  }
}

@media only screen and (max-width: 37.5em) {
  .list {
    align-items: center;
  }
}

.list-item {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 1.1rem 1.5rem;
  padding-right: 2.5rem;
  gap: 2rem;
}

@media only screen and (max-width: 81.25em) {
  .list-item {
    gap: 0;
    padding: 1.5rem;
  }
}

.list-item-title {
  font-size: 1.9rem;
}

@media only screen and (max-width: 81.25em) {
  .list-item-title {
    display: none;
  }
}

.list-item-title[data-active='true'] {
  font-weight: 700;
}

.list-button {
  padding: 2.6rem 0;
  margin-top: 1rem;
  background: var(--color-primary);
  color: #fff;
  border-radius: 10rem;
  font-size: 1.7rem;
  font-weight: 600;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 81.25em) {
  .list-button {
    width: 5rem;
    height: 5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .list-button {
    align-self: center;
    padding: 1rem;
    width: 4.5rem;
    height: 4.5rem;
  }
}

.list-button-icon {
  display: none;
}

@media only screen and (max-width: 81.25em) {
  .list-button-icon {
    display: block;
    font-size: 2.5rem;
  }
  .list-button-text {
    display: none;
  }
}

.list-button:hover {
  background: var(--color-primary-dark);
}

.box {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  width: 25rem;
  padding: 1rem;
  border-radius: 10rem;
  margin-bottom: 0.7rem;
}

@media only screen and (max-width: 81.25em) {
  .box {
    width: fit-content;
    gap: 0;
  }
}

.box-image {
  border-radius: 10rem;
}

.box-names {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  flex: 1;
}

@media only screen and (max-width: 81.25em) {
  .box-names {
    display: none;
  }
}

.box-name {
  font-weight: 600;
}

.box-username {
  color: var(--color-gray-dark-3);
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: -1px;
}

@media only screen and (max-width: 81.25em) {
  .box-icon {
    display: none !important;
  }
}
