.container {
  width: 60rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--color-gray-light-1);
}

.title {
  font-size: 1.9rem;
  font-weight: 700;
  margin-left: 0.5rem;
  color: var(--color-primary-text);
  cursor: pointer;
}

.icon {
  font-size: 2rem;
  color: var(--color-primary-text);
  cursor: pointer;
  border-radius: 10rem;
  padding: 0.8rem;
  transition: background 0.2s;
}

.icon:hover {
  background: var(--color-gray-light-1);
}

.box {
  display: flex;
  gap: 0.5rem;
  padding: 0 1.5rem 0.5rem 1.5rem;
  border-bottom: 1px solid var(--color-gray-light-1);
}
