.tooltip {
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.6);
}

.spinner {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: background 0.2s;
  border-bottom: 1px solid var(--color-gray-light-2);
}

.suggestion-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-gray-dark-3);
  transform: translateX(3.5rem);
  margin-bottom: -0.7rem;
  margin-top: -0.3rem;
}

.suggestion-icon {
  font-size: 1.4rem;
}

.suggestion-text {
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}

.suggestion-text:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  gap: 1.3rem;
}

.box:hover {
  background: var(--color-gray-hover);
}

.tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  color: var(--color-gray-dark-3);
}

.name {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--color-primary-text);
}

.name,
.time {
  cursor: pointer;
}

.name:hover,
.time:hover {
  text-decoration: underline;
}

.menu-icon {
  font-size: 1.7rem;
  padding: 0.7rem;
  border-radius: 10rem;
  transition: all 0.2s;
  margin: -0.7rem;
}

.menu-icon:hover {
  color: var(--color-primary);
  background: rgba(var(--color-primary-hover));
}

.text {
  font-size: 1.5rem;
  color: var(--color-primary-text);
}

.image-container {
  width: 100%;
  min-height: 35rem;
  max-height: 40rem;
  margin-top: 1rem;
  position: relative;
  border-radius: 1.7rem;
  overflow: hidden;
}

.image {
  background-position: center;
}

/* Actions */
.actions {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  transform: translateX(-0.7rem);
}

.action {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.action-icon {
  font-size: 1.8rem;
  color: var(--color-gray-dark-3);
  border-radius: 10rem;
  transition: all 0.2s;
  padding: 0.7rem;
}

.action-label {
  font-size: 1.4rem;
  transition: all 0.2s;
}

.action:hover .action-icon {
  background: rgba(var(--color-primary-hover));
}

.action:hover .action-label,
.action:hover .action-icon {
  color: var(--color-primary);
}

.action[data-bg='green']:hover .action-icon {
  background: rgba(83, 206, 165, 0.1);
}

.action[data-bg='green']:hover .action-label,
.action[data-bg='green']:hover .action-icon {
  color: #53cea5;
}

.action[data-bg='pink']:hover .action-icon {
  background: rgba(249, 36, 134, 0.1);
}

.action[data-bg='pink']:hover .action-label,
.action[data-bg='pink']:hover .action-icon {
  color: #f92486;
}

.action-icon[data-liked='true'] {
  color: #f92486;
}
