.logo {
  font-size: 3.5rem;
  margin: 3px auto;
  color: var(--color-primary);
}

.modal-body {
  display: flex;
  flex-direction: column;
  margin-top: 1.7rem;
  margin-left: 12rem;
  margin-right: 12rem;
}

.modal-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 30rem;
  padding: 0.8rem 2rem;
  border: 1px solid var(--color-gray-light-2);
  border-radius: 10rem;
  transition: background 0.2s;
  outline: none;
}

.button[data-type='solid'] {
  background: var(--color-primary);
  border: none;
  padding: 1rem 2rem;
}

.button[data-type='solid']:hover {
  background: var(--color-primary-dark);
}

.button:hover {
  background: var(--color-gray-light-1);
  border-color: var(--color-gray-light-3);
}

.button:active {
  background: var(--color-gray-light-2);
}

.button-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-primary-text);
}

.button-text[data-icon='apple'] {
  transform: translateX(-4px);
}

.button-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--color-primary-text);
  transform: translateX(-4px);
}

.button[data-name='forgot'] {
  margin-bottom: 2rem;
}

.separetor {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29rem;
  margin: 1rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  flex: 1;
}

.form-title {
  font-size: 3.3rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.input-container {
  outline: 1px solid var(--color-gray-light-2);
  padding: 2rem 1rem 0.2rem 1rem;
  position: relative;
  border-radius: 3px;
  transition: border-color 0.2s ease;
}

.input-container[data-invalid='true'] {
  outline: 1px solid #ff0000;
}

.input-container:focus-within {
  outline: 2px solid var(--color-primary);
}

.input-container:focus-within[data-invalid='true'] {
  outline: 2px solid #ff0000;
}

.input-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.7rem;
  transform-origin: 0;
  transition: all 0.2s ease;
  color: #333;
}

.input-container:focus-within .input-label {
  color: var(--color-primary);
  transform: translateY(-100%) scale(0.8);
}

.input-label[data-valid='true'] {
  transform: translateY(-100%) scale(0.8);
}

.input-container[data-invalid='true'] .input-label {
  color: #ff0000;
}

.input-length {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.4rem;
  color: var(--color-gray-dark-3);
  visibility: hidden;
}

.input-container:focus-within .input-length {
  visibility: visible;
}

.input {
  font-size: 1.6rem;
  padding: 0.3rem 0;
  font-weight: 500;
}

.input-error {
  font-size: 1.3rem;
  color: #ff0000;
  margin-top: -0.5rem;
}

.input-container-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 1rem;
  border-radius: 10rem;
  transition: background 0.2s ease;
}

.input-container-icon:hover {
  background: var(--color-gray-light-1);
}

.input-icon {
  font-size: 2rem;
  color: var(--color-gray-dark-3);
}

.form-button {
  font-size: 1.8rem;
  padding: 2rem 0;
  font-weight: 600;
  color: #fff;
  border-radius: 10rem;
  background: var(--color-primary-text);
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.form-button:hover {
  background: var(--color-primary-text);
}

.form-button:disabled {
  background: var(--color-gray-dark-3);
  cursor: not-allowed;
}

.form-button:disabled:hover {
  background: var(--color-gray-dark-3);
}

.form-button:active {
  transform: scale(0.98);
}
