.list {
  border-bottom: 1px solid var(--color-gray-light-1);
}

.tab {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.5rem 0;
  color: var(--color-gray-dark-2);
  border: none;
  position: relative;
  transition: none;
}

@media only screen and (max-width: 37.5em) {
  .tab {
    font-size: 1.3rem;
  }
}

.tab[aria-selected='true'] {
  font-weight: 600;
  color: var(--color-primary-text);
}

.tab:hover {
  background: var(--color-gray-hover);
}

.tab::after {
  content: '';
  display: none;
  width: 50%;
  height: 0.4rem;
  background-color: var(--color-primary);
  border-radius: 10rem;
}

.tab[aria-selected='true']::after {
  display: block;
  position: absolute;
  bottom: 1px;
}
