.header {
  height: fit-content;
  padding-left: 0;
  padding-right: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 3.5rem;
  padding: 0 1rem;
}

.searchbar {
  flex: 1;
  background: transparent;
}

.icon {
  font-size: 2rem;
  padding: 0.8rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: background 0.2s;
}

.icon:hover {
  background: var(--color-gray-light-1);
}

.trends-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 11.8rem);
}
