:root {
  --background: #fff;

  --color-primary: #1d9bf0;
  --color-primary-dark: #1a8cd8;

  --color-primary-text: #0f1419;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400 !important;
  line-height: 1.4 !important;
  background: var(--background);
}
